@model HealthConditionForecast.Models.MigraineSympton

@{
    ViewData["Title"] = "Migraine Symptom Details";
}
@functions {
    public string GetEnumDisplayName(Enum value)
    {
        var member = value.GetType().GetMember(value.ToString()).FirstOrDefault();
        if (member != null)
        {
            var displayAttr = member.GetCustomAttributes(typeof(System.ComponentModel.DataAnnotations.DisplayAttribute), false)
                                    .FirstOrDefault() as System.ComponentModel.DataAnnotations.DisplayAttribute;
            if (displayAttr != null)
                return displayAttr.Name;
        }
        return value.ToString();
    }
}


<h1>Migraine Symptom Details</h1>

<div>
    <h4>Symptom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@GetEnumDisplayName(Model.Type)</dd>

        <dt class="col-sm-2">Health Condition</dt>
        <dd class="col-sm-10">@ViewBag.HealthCondition</dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("Admin"))
                    {
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
