@model IEnumerable<HealthConditionForecast.Models.HealthCondition>

@{
    ViewData["Title"] = "Health Conditions";
}

<h1>Health Conditions</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Health Condition</a>
    </p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th> <!-- For Edit/Delete links -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("Admin")){                    
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    </td>
            </tr>
        }
    </tbody>
</table>
