@model IEnumerable<HealthConditionForecast.Models.UserHealthCondition>

@{
    ViewData["Title"] = "User Health Conditions";
}

<h1>User Health Conditions</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Health Condition ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserId</td>
                <td>@item.HealthConditionId</td>
                <td>
                   @if (User.IsInRole("User"))
    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
